.row {
	height:500px;
	width:100%;
	background:black;
	display:flex;
	gap:20px;
	align-items:center;
	justify-content:center;
	flex-wrap:wrap;
}
.row  .col{
	
	height:100px;
	width:180px;
	background:pink;
	
	
}